.s {
  height: 40px;
  width: 40px;
  padding: 4px;
  margin: 4px;
  
}
body {
  width: 100%;
}

button {
  font-size: 20px
}
#prompt {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#guessDiv {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
#submitDiv {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#responsesDiv {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;

}
textarea {
  letter-spacing: 24px;
  font-size: 50;
  font-family: "verdana";
  resize: none;
}

.r {
  display:flex;
  width: fit-content;
}

.b {
  background-color: #DCDCDC;
}
.y {
  background-color: #FFD700;
}
.g {
  background-color: #228B22;
}
.l {
  text-align: center;
  font-size: 36;
  font-family: "verdana";
}
